@import '../../styles/settings.scss';
.nav {
    background-color: darken($color-dark, 3%);
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navxlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navxitem {
    justify-content: space-between;
    margin-right: 20px;
    
  }
  
  .navxlink {
    text-decoration: none; /* Remove underline from links */
    color: #fff; /* Set text color for navigation links */
    font-size: 16px; /* Set font size for navigation links */
  }
  
  .navxlink:hover {
    color: #ffcc00; /* Change text color on hover */
  }
  
  .icon {
    color: #fff; /* Set icon color */
    font-size: 20px; /* Set icon size */
    margin-left: 10px; /* Add spacing between icon and text */
  }