@import '../../styles/settings.scss';
.nav {
    background-color: darken($color-dark, 3%);
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navxlist {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navxitem {
    justify-content: space-between;
    margin-right: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
  }
  
  .icon {
    color: #fff;
    font-size: 20px;
    margin-left: 10px;
  }

  .linkActive {
  color: $color-warning;
  }